body {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    padding: 20px;
    text-align: center;
    color: #333;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    color: #333;
}

p {
    font-family: 'Red Hat Display', sans-serif;
    text-align: left;
    color: #333;
}

.centered-text {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Add some margin between buttons */
}

#backBtn,
#restartBtn {
    background-color: #36029e;
    color: white;
}

#getStartedBtn {
    background-color: #36029e; /* Change color for Get Started button */
    color: white;
}

#backBtn {
    background-image: url('./res/icons8-back-arrow-96.png'); /* Set the path to your image */
    background-size: cover; /* Scale image proportionally to fit within the button */
    background-repeat: no-repeat; /* Prevent image repetition */
    width: 40px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.progress-container {
    width: 50%;
    margin: 20px auto;
    background-color: rgb(161, 174, 161);
    border: 2px solid #36029e; /* Border color */
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #36029e;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 5px;
}

.module-content {
    width: 50%;
    margin: 0 auto;
    font-family: 'Red Hat Display', sans-serif;
}

.side-by-side {
    display: flex;
    justify-content: space-between;
}

.pros,
.cons {
    width: 48%;
    text-align: left;
}

/* Add the following CSS styles */
.table-container {
    margin: 20px auto; /* Center the table and add padding above and below */
    max-width: 300px; /* Adjust the max-width as needed */
}

.table-of-contents {
    width: 100%;
    border-collapse: collapse; /* Remove border spacing */
}

.table-of-contents th, .table-of-contents td {
    border: 1px solid #ddd; /* Add border to cells */
    padding: 8px; /* Add padding to cells */
    text-align: center; /* Center text */
}

.table-of-contents th {
    background-color: #f2f2f2; /* Gray background for header */
}

.table-of-contents td {
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr, td {
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* New CSS rule for the container with background image */
.top-image-container {
    position: relative;
    width: 75%;
    height: 300px; /* Set a height for the container, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.top-image-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/Udit8348/fluent-future/blob/main/res/fluent-future.001.jpeg?raw=true');
    background-size: cover; /* Cover the entire container without tiling */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 0 0 15px 15px; /* Round the top two corners */
}

/* New CSS rule for the container with background image */
.gpt-image-container {
    position: relative;
    width: 75%;
    height: 200px; /* Set a height for the container, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.gpt-image-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/Udit8348/fluent-future/blob/main/res/gpt-flex.png?raw=true');
    background-size: cover; /* Cover the entire container without tiling */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px 15px 15px 15px; /* Round the top two corners */
}

/* New CSS rule for the container with background image */
.classics-image-container {
    position: relative;
    width: 75%;
    height: 500px; /* Set a height for the container, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.classics-image-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/Udit8348/fluent-future/blob/main/res/classics.png?raw=true');
    background-size: cover; /* Cover the entire container without tiling */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px 15px 15px 15px; /* Round the top two corners */
}

/* New CSS rule for the container with background image */
.hvol-image-container {
    position: relative;
    width: 75%;
    height: 500px; /* Set a height for the container, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.hvol-image-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/Udit8348/fluent-future/blob/main/res/hvol-grading.png?raw=true');
    background-size: cover; /* Cover the entire container without tiling */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px 15px 15px 15px; /* Round the top two corners */
}

/* New CSS rule for the container with background image */
.prof-image-container {
    position: relative;
    width: 75%;
    height: 500px; /* Set a height for the container, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.prof-image-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/Udit8348/fluent-future/blob/main/res/prof.png?raw=true');
    background-size: cover; /* Cover the entire container without tiling */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px 15px 15px 15px; /* Round the top two corners */
}

/* New CSS rule for the container with background image */
.bottom-image-container {
    position: relative;
    width: 75%;
    height: 300px; /* Set a height for the container, adjust as needed */
    margin: 0 auto; /* Center the container horizontally */
    overflow: hidden; /* Hide overflow to prevent vertical scrollbar */
}

.bottom-image-container::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/Udit8348/fluent-future/blob/main/res/fluent-future.002.jpeg?raw=true');
    background-size: cover; /* Cover the entire container without tiling */
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 15px 15px 0 0; /* Round the top two corners */
}

/* Anchored elements styling */
.anchored-elements {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

hr {
    border: 2px solid #36029e; /* Set border properties */
    margin: 20px 0; /* Add margin for spacing */
  }

  #chat-container {
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px auto; /* Center the chat container */
    overflow: hidden;
}

#chat-iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px 5px 5px 5px; /* Round the top two corners */
}

ul {
    text-align: left;
}